<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'tarefas/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <title>Confirmar Exclusão de {{ tarefa.tarefa }}</title>
</head>
<body>
    <div class="container-sm">
        <nav>
            <ul class="nav justify-content-center">
                <a class="nav-link" href="{% url 'index' %}">
                    <li class="nav-item">Lista de Tarefas</li>
                </a>
                <a class="nav-link" href="{% url 'cria' %}">
                    <li class="nav-item">Nova Tarefa</li>
                </a>
                <!--<a class="nav-link" href="{% url 'index' %}">
                    <li class="nav-item">Tarefas</li>
                </a> -->
            </ul>
        </nav>
        <form action="" method="post">
            {% csrf_token %}
            <h2>Deseja excluir a tarefa: <span class="tarefa">{{ tarefa.tarefa }}</span>?</h2>
            <a href="{% url 'exclui' tarefa.id %}"><button type="submit" class="btn btn-success">Excluir</button></a>
            <a href="{% url 'index' %}"><button type="button" class="btn btn-danger">Cancelar</button></a>
        </form>
    </div>
</body>
</html>